:host {
	.sidenav {
		box-sizing: border-box;
		margin-top: 80px;
		left: 0;
		width: 102px;
		background-color: var(--color-primary);

		&__link {
			&:hover {
				background-color: var(--color-white);
				color: var(--color-primary);
			}

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-items: center;
			justify-content: center;
			box-sizing: border-box;
			color: var(--color-white);
			margin: 0 auto;
			height: 83px;

			span {
				display: block;
				margin-top: -10px;
				font-weight: 500;
				font-size: 12px;
				white-space: normal;
				line-height: initial;
			}

			.active-link {
				background-color: var(--color-primary);
				color: var(--color-white);
				border-radius: 0;
			}
		}

		i {
			display: block;
			margin-top: 10px;
			font-size: 30px;
			margin-bottom: 1rem;
		}

		mat-nav-list {
			padding-top: 1rem !important;
		}
	}
	.content {
		overflow: hidden;
		margin-top: 7rem;
		margin-left: 7rem;
		width: calc(100% - 115px);
		&--tn,
		&--xs {
			margin-left: 0.5rem;
			width: calc(100% - 15px);
		}
	}
}

::ng-deep .mat-menu-content {
	padding: 0px !important;
}
