@import "~@angular/material/theming";
@include mat-core();

// colors
$primary: (
	50: #e1e4e6,
	100: #b4bbc0,
	200: #828e96,
	300: #50606b,
	400: #2b3e4c,
	500: #051c2c,
	600: #041927,
	700: #041421,
	800: #03111b,
	900: #010910,
	A100: #529cff,
	A200: #1f7fff,
	A400: #0065eb,
	A700: #005ad2,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #ffffff,
		A400: #ffffff,
		A700: #ffffff,
	),
);

$accent: (
	50: #e7fae6,
	100: #c3f2c1,
	200: #9cea98,
	300: #74e16e,
	400: #56da4f,
	500: #38d430,
	600: #32cf2b,
	700: #2bc924,
	800: #24c31e,
	900: #17b913,
	A100: #eaffea,
	A200: #b8ffb7,
	A400: #86ff84,
	A700: #6dff6a,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$warn: (
	50: #fffde7,
	100: #fff9c4,
	200: #fff59d,
	300: #fff176,
	400: #ffee58,
	500: #ffeb3b,
	600: #ffe935,
	700: #ffe52d,
	800: #ffe226,
	900: #ffdd19,
	A100: #ffffff,
	A200: #fffffd,
	A400: #fff7ca,
	A700: #fff2b1,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #000000,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$medgrupo-teste-primary: mat-palette($primary);

$medgrupo-teste-accent: mat-palette($accent);

$medgrupo-teste-warn: mat-palette($warn);

$medgrupo-teste-theme: mat-light-theme(
	(
		color: (
			primary: $medgrupo-teste-primary,
			accent: $medgrupo-teste-accent,
			warn: $medgrupo-teste-warn,
		),
	)
);

@include angular-material-theme($medgrupo-teste-theme);
