.menu-sidenav {
	position: absolute;
	top: 0px;
	left: 105px;
	width: 100%;

	&__header {
		background: linear-gradient(68deg, var(--color-primary) 50%, var(--color-light) 100%);
		color: var(--color-white) !important;
		pointer-events: none !important;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;

		mat-icon {
			color: var(--color-white) !important;
		}
	}

	&__item {
		font-style: normal;
		font-weight: normal;
		line-height: 16px !important;
		color: var(--color-primary);
		border-bottom: 1px solid var(--color-light-gray) !important;
		height: 60px !important;
	}
}


