:root {
	--color-primary: #051c2c;
	--color-primary-rgb: 5,28,44;
	--color-primary-contrast: #ffffff;
	--color-primary-contrast-rgb: 255,255,255;
	--color-primary-shade: #041927;
	--color-primary-tint: #1e3341;

	--color-secondary: #878786;
	--color-secondary-rgb: 135,135,134;
	--color-secondary-contrast: #000000;
	--color-secondary-contrast-rgb: 0,0,0;
	--color-secondary-shade: #777776;
	--color-secondary-tint: #939392;

	--color-tertiary: #828282;
	--color-tertiary-rgb: 130,130,130;
	--color-tertiary-contrast: #000000;
	--color-tertiary-contrast-rgb: 0,0,0;
	--color-tertiary-shade: #727272;
	--color-tertiary-tint: #8f8f8f;

	--color-success: #2dd36f;
	--color-success-rgb: 45,211,111;
	--color-success-contrast: #000000;
	--color-success-contrast-rgb: 0,0,0;
	--color-success-shade: #28ba62;
	--color-success-tint: #42d77d;

	--color-warning: #ffc409;
	--color-warning-rgb: 255,196,9;
	--color-warning-contrast: #000000;
	--color-warning-contrast-rgb: 0,0,0;
	--color-warning-shade: #e0ac08;
	--color-warning-tint: #ffca22;

	--color-danger: #eb445a;
	--color-danger-rgb: 235,68,90;
	--color-danger-contrast: #ffffff;
	--color-danger-contrast-rgb: 255,255,255;
	--color-danger-shade: #cf3c4f;
	--color-danger-tint: #ed576b;

	--color-medium: #c4c5ca;
	--color-medium-rgb: 196,197,202;
	--color-medium-contrast: #000000;
	--color-medium-contrast-rgb: 0,0,0;
	--color-medium-shade: #acadb2;
	--color-medium-tint: #cacbcf;

	--color-light: #f4f5f8;
	--color-light-rgb: 244,245,248;
	--color-light-contrast: #000000;
	--color-light-contrast-rgb: 0,0,0;
	--color-light-shade: #d7d8da;
	--color-light-tint: #f5f6f9;

	--color-white: #ffffff;

	--color-black: #000000;

	--color-light-gray: #e0e0e0;

	--color-background-layout: #ebeef3;

	--color-fire-bush: #dc9b3c;
}
